<div class="fondo"></div>
<div class="oscuro"></div>
<div class="container">
    <div class="notfound">
        <div class="not text-center">
            <div class="nofunciona text-center">
                <h1>¡Vaya!</h1>
                <h3>¿Has perdido la bola?</h3>
            </div>
            <h2>404 - La página no funciona</h2>
            <p>La página que buscas no esta disponible</p>
            <button class="btn boton" routerLink='/home'>
                Volver a la página principal
            </button>
        </div>
    </div>
</div>