<div class="fondo"></div>
<div class="oscuro"></div>
<div class="container limiter animated fadeInLeft">
    <form class="form form-login text-center" (ngSubmit)='login( loginForm )' #loginForm="ngForm">
        <h1 class="form-title">
            <b>Login</b>
        </h1>
        <div class="form-container">
            <div class="m-b-40">
                <label for="email" class="form-label">Email</label>
                <br>
                <input class="form-control" type="text" name="email" placeholder="Email" [(ngModel)]='usuario.email' email required autofocus>
                <br>
                <span *ngIf="loginForm.submitted && loginForm.controls['email'].errors" class="text-danger animated fadeIn">
                    El correo es obligatorio
                </span>
            </div>
            <div class="m-b-40">
                <label for="password" class="form-label">Contraseña</label>
                <br>
                <input type="password" name="password" placeholder="Contraseña" [(ngModel)]='usuario.password' minlength="6" required>
                <br>
                <span *ngIf="loginForm.submitted && loginForm.controls['password'].errors" class="text-danger animated fadeIn">
                    La contraseña debe de ser más de 6 letras
                </span>
            </div>
            <div class="form-check m-b-20">
                <input class="form-control" type="checkbox" class="form-check-input" id="exampleCheck1" id="ckb1" name="remember-me" [(ngModel)]="recordarme">
                <label class="form-check-label" for="ckb1">Recordar mi usuario</label>
            </div>
            <div class="m-b-20">
                <a routerLink="/registro" class="txt">
                    ¿No tienes cuenta?
                </a>
            </div>
            <div class="text-center">
                <button type="submit" class="btn w-100 p-2">Entrar</button>
            </div>

        </div>
    </form>
</div>